header {
	position: fixed;
	top:0;
	width: 100%;
	height: 70px;
}

body {
	background-color: white;
	/*position: fixed;*/
	top: 70px;
	margin-bottom: 150px;
	width: 100%;
	overflow-y: scroll;
}

h1 {
	color: #CFA06C;
	font-size: 45px;
	font-family: "Avenir light", bold, serif;
}


h2 {
	color: gray;
	font-size: 17px;
	font-family: "Avenir light", serif;
}

h3 {
	color: gray;
	font-size: 17px;
	font-family: "Avenir light", serif;
	position: fixed;
	top: 9px;
	right:140px;
}

h4 {
	color: gray;
	font-size: 15px;
	font-family: "Avenir light", serif;
	top: 450px;
	display: block;
	margin: 0 auto;
}

h5 {
	color: gray;
	font-size: 12px;
	font-family: "Avenir light", serif;
}


hr {
	border: 1px solid #E8E8E8; margin-right: 0px;
}

form {
	border: 1px solid #E8E8E8;
	border-radius: 15px;
	padding: 45px;
	padding-top: 25px;
	width: 300px;
	position: center;
	margin: auto;
}

.inputField
{
	border-bottom: 2px solid #E8E8E8;
	border-top: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
	width: 100%;
	padding: 5px;
	padding-bottom: 5px;
	color: gray;
	font-size: 19px;
	font-family: "Avenir light", serif;
	outline: none;
	transition: 0.7s;
}

.inputField:focus {
    border-bottom: 2px solid #555;
	border-top: 0px solid #E8E8E8;
	border-left: 0px solid #E8E8E8;
	border-right: 0px solid #E8E8E8;
    }

.mybotton {
	font-family: "Avenir light", serif;
	border-radius: 50px;
	position: center;
	margin: auto;
}

#signup
{
	background-color: white;
	color: #CFA06C;
	font-family: "Avenir light", serif;
	font-size: 17px;
	border: 1px solid #CFA06C;
	width: 110px;
	border-radius: 50px;
	top: 10;
	position: fixed;
	right: 20px;
	top: 20px;
}

#signup:hover {
	border: 2px solid #008B8B;
	position: fixed;
}

#signin
{
	background-color: #CFA06C;
	color: white;
	font-family: "Avenir light", serif;
	font-size: 20px;
	border: none;
	width: 200px;
	border-radius: 50px;
	position: center;
	margin: auto;
	top: 400px;
}

#signin:hover {
	background-color: #CFA06C;
}


figure {
	position: fixed;
	position: center;
	bottom: 10px;
	width: 100%;
	text-align: center;
	margin: auto;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #E8E8E8;
	text-align: center;
}